<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "it.meshup.BioDizionario"
        versionCode="10"
        version   = "1.1.0">

    <!-- versionCode is optional and Android only -->

    <name>Biodizionario</name>

    <description>
        Lista componenti INCI
    </description>

    <author href="http://meshup.it" email="info@meshup.it">
        Meshup S.R.L.
    </author>

</widget>
